---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Harry. All rights reserved.
	<div class="social-links">
		<a href={`${import.meta.env.BASE_URL}blog/`}>Blog</a>
		<a href={`${import.meta.env.BASE_URL}about/`}>About</a>
		<a
			href="https://drive.google.com/drive/folders/1R9Y6o3wxsuKGQ9Apyif0nuUccLHtDHHr"
			target="_blank"
			rel="noreferrer"
		>
			技術履歷
		</a>
		<a
			href="https://podcasts.apple.com/tw/podcast/%E5%A6%96%E4%BD%A0%E8%81%BD%E6%96%B0%E8%81%9E/id1836788949"
			target="_blank"
			rel="noreferrer"
		>
			妖你聽新聞（Podcast）
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
